body {
   background: #ebedef;
}

.alert.alert-info {

   background-color: #eedbf7;
   border: none;
}

.skills__remove-icon {
   opacity: 0.2;
   cursor: pointer;
}

.skills__remove-icon:hover {
   opacity: 0.8;
}

.hh_access_code {display: none;}